---
import Calendar from "../components/calendar";
import { loadPhotos } from "../lib/load-photos";

const photos = await loadPhotos(Astro.site!.origin);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Photo of the Day - Ben Borgers</title>
    <link rel="icon" href="https://emojicdn.elk.sh/ðŸ™" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body class="antialiased bg-gray-900">
    <div class="px-3 pt-8 sm:pt-16 pb-24">
      <div class="mx-auto max-w-xl flex items-end justify-between">
        <h1
          class="sm:text-lg text-white font-display font-bold bg-rose-600 px-2 rounded-md"
        >
          Photo of the Day
        </h1>
        <p class="text-sm text-gray-500 font-medium">
          A project by <a
            href="https://ben.page"
            target="_blank"
            class="underline decoration-gray-700 hover:text-white hover:decoration-white transition-colors"
          >
            Ben Borgers
          </a>
        </p>
      </div>
      <div class="mt-7 mx-auto max-w-xl">
        <Calendar photos={photos} client:load />
      </div>
    </div>
  </body>
</html>
