---
import { loadPhotos } from "../lib";

const photos = await loadPhotos();
console.log(photos);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://emojicdn.elk.sh/ðŸ™" />
    <meta name="viewport" content="width=device-width" />
    <title>Photo of the Day - Ben Borgers</title>
  </head>
  <body>
    <pre>{JSON.stringify(photos, null, 2)}</pre>
  </body>
</html>
